.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form label p {
    text-align: left;
    margin: 15px auto 3px;
}

.login-form button 
{
    background-color: rgb(65, 136, 234);
    border-radius: 5px;
    border-style: none;
    padding: 5px 8px;
}